<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Content</title>
</head>
<body>
    
    <h2>Here is your post in detail</h2>
    <p>Post id : <%= post.id %></p>
    <h3 class="user">@<%=post.username%></h3>
    <h4>Change Content</h4>
    <br>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" cols="30" rows="10"> <%= old_content %> </textarea>
        <br>
        <button>Submit</button>
    </form>

</body>
</html>